@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --tenne-tawny: green;
    --tenne-tawny-dark: green;
    --prim-color: white;
    --sec-color: black;
    --primary-colorsx: rgba(0, 0, 0, 0.79);
    --secondary-colorsx: darkgrey;

}

.dark-theme {
    --prim-color: black;
    --sec-color: white;
    --primary-colorsx: rgba(255, 255, 255, 0.846);
    --secondary-colorsx: rgba(194, 188, 188, 0.244);
}

body {
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    color: var(--prim-color);
    transition: 0.5s ease-in-out;
}

/*  */
.btn {
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;
}

.text {
    opacity: 0.8;
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
    color: var(--sec-color)
}

/*  */
.container {
    min-height: 100vh;
}

.meal-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    background: var(--prim-color);
    text-align: center;
    transition: 0.5s ease-in-out;
}

.meal-search {
    margin: 2rem 0;
}

.meal-search cite {
    font-size: 1rem;
}

.meal-search-box {
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
}

.search-control,
.search-btn {
    width: 100%;
}

.search-control {
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid var(--tenne-tawny);
    color: var(--tenne-tawny);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.search-control::placeholder {
    color: var(--tenne-tawny);
}

.search-btn {
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: var(--tenne-tawny);
    color: var(--prim-color);
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}

.search-btn:hover {
    background: var(--tenne-tawny-dark);
}

.meal-result {
    margin-top: 4rem;
}

#meal {
    margin: 2.4rem 0;
}

.meal-item {
    border-radius: 1rem;
    -webkit-border-radius: 20rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 10px 21px -12px var(--primary-colorsx);
    margin: 2rem 0;
    color: var(--sec-color)
}

.meal-img img {
    width: 100%;
    display: block;
}

.meal-name {
    padding: 1.5rem 0.5rem;
}

.meal-name h3 {
    font-size: 1.4rem;
}

.recipe-btn {
    text-decoration: none;
    color: var(--prim-color);
    background: var(--tenne-tawny);
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}

.recipe-btn:hover {
    background: var(--tenne-tawny-dark);
}

/* meal details */
.meal-details {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: var(--prim-color);
    background: var(--tenne-tawny);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    display: none;
    padding: 2rem 0;
}

.meal-details::-webkit-scrollbar {
    width: 10px;
}

.meal-details::-webkit-scrollbar-thumb {
    background: var(--prim-color);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}


/* js related */
.showRecipe {
    display: block;
}

.meal-details-content {
    margin: 2rem;
}

.meal-details-content p:not(.recipe-category) {
    padding: 1rem 0;
}

.recipe-close-btn {
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background: var(--prim-color);
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

.recipe-title {
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.recipe-category {
    background: var(--prim-color);
    font-weight: 600;
    color: var(--tenne-tawny);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

.recipe-category {
    background: var(--prim-color);
    font-weight: 600;
    color: var(--tenne-tawny);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

.recipe-instruct {
    padding: 1rem 0;
}

.recipe-meal-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.recipe-link {
    margin: 1.4rem 0;
}

.recipe-link a {
    color: var(--prim-color);
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}

.recipe-link a:hover {
    opacity: 0.8;
}


/*  */
.notFound {
    grid-template-columns: 1fr !important;
    color: var(--tenne-tawny);
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
}






/* Media Queries */
@media screen and (min-width: 600px) {
    .meal-search-box {
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    #meal {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10rem;
    }

    .meal-item {
        margin: 1000;
    }

    .meal-details {
        width: 700px;
    }
}

@media screen and (min-width: 992px) {
    #meal {
        grid-template-columns: repeat(3, 1fr);
    }
}

#darkmode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    position: relative;
    display: block;
    background: whitesmoke;
    border-radius: 200px;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s
}

#darkmode::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    left: 10px;
    background: linear-gradient(180deg, white, gray);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;

}

#darkmode-toggle {
    width: 0;
    height: 0;
    visibility: hidden;
}

#darkmode-toggle:checked+#darkmode {
    background-color: rgba(55, 53, 53, 0.993);
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
}

#darkmode-toggle:checked+#darkmode:after {
    transform: translateX(55px);
    background: linear-gradient(180deg, black, gray);
}

#blockquote {
    color: var(--sec-color)
}

#mealName {
    color: var(--sec-color)
}

.container {
    background-color: var(--prim-color);
    transition: 0.5s ease-in-out;
}

#closeSymbol {
    color: var(--sec-color)
}

.slider {
    width: 100%;
    height: 450px;

}

#imgcontainer {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    overflow: hidden;
}
img#slider {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    animation-name:fading;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes fading {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

div .caption {
    position: absolute;
    bottom: 50%; 
    left: 20%; 
    color: white; 
    background-color: rgba(0, 0, 0, 0.5) ;
    padding: 5px;
    font-size: xx-large;
    font-weight: 500;
    animation: 4s infinite alternate slidein;

}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }